@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    color: #000000;

}

body {
    font-family: "Fira Sans";
    font-style: normal;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1280px !important;
    width: 100%;
}

:root {
    --Global-black: #181818;
    --Primary-yellow: #FCA311;
    --Nuetral-black-800: #484A54;
    --Nuetral-black-900: #373940;
    --body-white: #FBFBFB;
    --secondary-950:#163036;
    --text-black2:#262626;
}

.Global-black { color: var(--Global-black,#181818);}
.Primary-yellow { color: var(--Primary-yellow,#FCA311);}
.Nuetral-black-800{color:var(--Nuetral-black-800,#484A54) ;}
.Nuetral-black-900{color:var(--Nuetral-black-900,#373940) ;}
.body-white {color: var( --body-white,#FBFBFB);}
.secondary-950{color: var(--secondary-950, #163036);}
.text-black2 {color: var(--text-black2, #262626);}



.fs_60 {
    font-size: 60px;
}
.fs_16 {
    font-size: 16px;
}
.fs_24{
    font-size: 24px;
}
.fs_44{
    font-size: 44px;
}

.fw_400 {
    font-weight: 400;
}
.fw_500 {
    font-weight: 500;
}
.fw_600 {
    font-weight: 600;
}
.fw_700 {
    font-weight: 700;
}
.ln_32{
    line-height: 32px;
}
.ln_24{
    line-height: 24px;
}
.lh_24{
    line-height: 24px;
}
.lh_32{
    line-height: 32px;
}
.lh_72{
    line-height: 72px;
}
.pd_6_16{
    padding: 6px 16px;
}
.border-white{
    border: 1px solid #D9DADF;
}
.radius_36{
    border-radius: 36px;
}
.mt_12{
    margin-top: 12px;
}
.mt_18{
    margin-top: 18px;
}
.mt_40{
    margin-top: 40px;
}
.mx__1111{
    max-width: 1111px;
    width: 100%;
    margin: 0 auto;
}
.bdr_lft_yellow{
    border-left: 2px solid #FCA311;
}












@media screen and (max-width: 1360px) {
    .fs_60 {
        font-size: 50px;
    }
    .lh_72 {
        line-height: 60px;
    }

}
@media screen and (max-width: 1180px) {
    
}

@media screen and (max-width: 1240px) {
.fs_md_60 {
    font-size: 40px;
}
}


@media screen and (max-width: 991px) {
        .fs_md_35{
            font-size: 35px;
        }
}
@media screen and (max-width: 550px) {
    .fs_sm_28{
        font-size: 28px;
    }
    .fw_sm_600{
        font-weight: 600;
    }
    .fs_60 {
        font-size: 38px;
    }

}
