header{
    background: var(--Nuetral-nuetral-50, #F3F3F5);
    position: fixed;
    top: 0;
    z-index: 9999;
}
header .nav-menu a{
   padding:34px 16px ;
   text-decoration: none;
}
header .nav-menu a:hover{
    background-color:#FCA311;
    color: var(--Global-black);
}
.non-binding-btn{
    padding: 14px 16px;
    border-radius: 8px;
    background: var(--Primary-500, #FCA311);
    display: block;
    width: fit-content;
}
 .non-binding-btn:hover{
    color:#FFF;
    background: #0A090C;

}

.main_hero_sec{
   width: 100%;
   max-width: 1440px;
   margin: 0 auto;
   background: var(--secondary-950, #163036);
   padding-top: 92px;
}
.hero-column-1{
    padding: 96px 80px 63px;
    background: var(--Nuetral-nuetral-50, #F3F3F5);
box-shadow: 0px 4px 21.7px 0px rgba(255, 255, 255, 0.10);
}
.Learn-hero{
    border-radius: 36px;
    border: 1px solid var(--Nuetral-nuetral-100, #D9DADF);
    padding: 6px 16px;
    width: fit-content;
}
.sales-span{
    position: relative;
    display: block;
}
.sales-span::after{
    position: absolute;
    background-image: url(../images/icons/sales-layer.svg);
    content: "";
    width: 100%;
    height: 20px;
    bottom: -12px;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
}
.Nachster{
    margin-top: 47px;
    border-radius: var(--border-redius-md, 12px);
    border: 1px solid var(--Nuetral-nuetral-100, #D9DADF);
    background: #FAFAFA;
    padding: 12px 12px 32px 12px;
    width: 100%;
    max-width: 384px;
    position: relative;

}
.nachtr-icon{
    position: absolute;
    top: 12px;
    right: 12px;
}
.hero-column-2{
    position: relative;

}
.inkl-img {
    width: 100%;
    max-width: 349px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
}


/* Beginnen-section */
.Beginnen-section{
    background: var(--secondary-950, #163036);
    padding: 128px 0 80px; 
    margin-top: -43px;
}
.Beginnen-card{
    border-radius: var(--border-redius-xxlg, 24px);
background: var(--secondary-900, #284A51);
padding: 24px;
height: 100%;
}
.Beginnen-card .Beginnen-icon{
    border-radius: 50%;
    background: var(--secondary-800, #2C575E);
    padding: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.Unsere-section{
    background: var(--Nuetral-nuetral-50, #F3F3F5); 
}
.Kursdauer-card{
    padding: 24px;
    border-radius: 18px;
    background: var(--Global-white, #FFF);
    height: 100%;
}
.kursdauer-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--Primary-100, #FFF4C5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.future-card{
    border-radius: 18px;
    background: var(--Nuetral-nuetral-50, #F3F3F5);
    padding: 80px 32px;
    height: 100%;

}
.future-card .future-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -120px;
    transition: margin-top 0.3s ease; /* Adjust duration and easing as needed */
}

.future-card:hover .future-icon {
    margin-top: 0;
}






@media screen and (max-width: 1180px) {
    .hero-column-1 {
        padding: 40px 62px 63px;
    }  
}

@media screen and (max-width: 1070px) {
    header .nav-menu a {
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {
    .main_hero_sec {
        padding-left: 20px;
        padding-right: 20px;
        background: var(--Nuetral-nuetral-50, #F3F3F5);
    }
    .Beginnen-section {
        margin-top: 0px;
    }
    .nach-mobile {
        background: var(--secondary-800, #2C575E);
        padding: 70px 12px;
        display: flex;
        justify-content: center;
        margin-top: -6px;
    }

}
@media screen and (max-width: 550px) {
    .inkl-img {
        width: 100%;
        max-width: 213px;
        position: absolute;
        bottom: -75px;
        left: 50%;
        transform: translateX(-50%);
    }
    .hero-column-1 {
        padding: 29px 10px 63px;
    }
    .sales-span::after {
        width: 270px;
    }
}
@media screen and (max-width: 375px) {
    .fs_60 {
        font-size: 32px;
    }
    .lh_72 {
        line-height: 46px;
    }
    .sales-span::after {
        width: 227px;
    }

}